@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&display=swap");
body {
    font-family: "Montserrat";
}

:root {
    --primary-color: #bea257;
}

.jumbotron {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.fold-one {
    height: 1105px;
    background: url("../images/fold1.jpg") no-repeat center / cover;
    overflow: hidden;
}

.fold-one .fold-content {
    display: flex;
    flex-wrap: wrap;
    justify-items: left;
    align-content: center;
    width: 1188px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    max-width: 100%;
}

.fold-one .fold-content .content-placeholder {
    width: 50%;
    padding-right: 150px;
    position: relative;
    padding-top: 300px;
}

.fold-one .fold-content img {
    display: block;
    margin: 0 0 90px;
}

.fold-one .fold-content h1 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
    text-align: left;
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    width: 100%;
    margin: 0 0 65px;
}

.fold-one .fold-content h1 span {
    color: var(--primary-color);
}

.fold-one .fold-content p {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    text-align: left;
    color: #ffffff;
    display: block;
}

.fold-one .fold-content a {
    background: var(--primary-color);
    display: inline-block;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    width: 180px;
    padding: 12px 0;
    margin: 60px 0 50px 10px;
}

.fold-one .owen-placeholder {
    position: absolute;
    right: -140px;
    top: 160px;
}

.fold-one .owen-placeholder img {
    margin: 0;
}

.fold-two {}

.fold-two .fold-content {
    padding: 135px 0 155px;
}

.fold-two .fold-content header {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: 2.4px;
    text-align: center;
    color: #191919;
    text-transform: uppercase;
    padding: 0 0 110px;
}

.fold-two .fold-content ul.about-icon {
    width: 1188px;
    display: flex;
    line-height: normal;
    justify-content: space-between;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    padding: 0;
    max-width: 100%;
}

.fold-two .fold-content ul.about-icon li {}

.fold-two .fold-content ul.about-icon li>span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

.fold-two .fold-content ul.about-icon li img {}

.fold-two .fold-content ul.about-icon li p {
    position: relative;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    margin: 90px 0 0;
}

.fold-two .fold-content ul.about-icon li p:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -40px;
    background: #191919;
    height: 1px;
    width: 73px;
    transform: translate(-50%, 0);
}

.fold-three {
    background: url(../images/fold3.jpg) no-repeat center / cover;
    padding: 135px 0 190px;
}

.fold-three .fold-content {
    width: 1188px;
    max-width: 100%;
    margin: 0;
    margin: 0 auto;
    color: #fff;
}

.fold-three .fold-content header {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: 2.4px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.fold-three .fold-content .skill-placeholder {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
}

.fold-three .fold-content .skill-placeholder .skill-item {
    width: 235px;
    text-align: center;
    height: 235px;
    background: url("../images/skill-circle.png") no-repeat center / contain;
    display: block;
}

.fold-three .fold-content .skill-placeholder .skill-item span {
    display: flex;
    width: 100%;
    height: 60px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px 0 24px;
}

.fold-three .fold-content .skill-placeholder .skill-item span img {
    height: 100%;
}

.fold-three .fold-content .skill-placeholder .skill-item p {
    margin: 0;
    padding: 0 30px;
    font-size: 12px;
}

.fold-four {
    background: url(../images/fold4.jpg) no-repeat center bottom / cover;
}

.fold-four .fold-content {
    padding: 120px 0 100px;
    width: 1400px;
    margin: 0 auto;
    border-left: 5px solid #e4e4e4;
    border-right: 5px solid #e4e4e4;
    max-width: 100%;
}

.fold-four .fold-content header {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #131313;
    text-transform: uppercase;
    margin: 0 0 85px;
}

.fold-four .fold-content header.work-head {
    margin: 150px 0 120px;
}

.fold-four .fold-content .fold-four-rows {
    width: 1400px;
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 100px;
}

.fold-four .fold-content .fold-four-rows .ff-column {
    width: 50%;
    text-align: center;
}

.fold-four .fold-content .fold-four-rows .ff-column>span {
    height: 120px;
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
}

.fold-four .fold-content .fold-four-rows.r1 .ff-column>span {
    height: 186px;
}

.fold-four .fold-content .fold-four-rows.r2 .ff-column>span {
    height: 116px;
}

.fold-four .fold-content .fold-four-rows.r3 .ff-column>span {
    height: 80px;
}

.fold-four .fold-content .fold-four-rows.r4 .ff-column>span {
    height: 104px;
}

.fold-four .fold-content .fold-four-rows.r5 .ff-column>span {
    height: 158px;
}

.fold-four .fold-content .fold-four-rows .ff-column>span img {}

.fold-four .fold-content .fold-four-rows .ff-column>strong {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #131313;
    margin: 0 auto 25px;
    display: block;
    text-transform: uppercase;
    width: 400px;
    max-width: 100%;
}

.fold-four .fold-content .fold-four-rows .ff-column>p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    color: #131313;
    width: 440px;
    margin: 0 auto;
    max-width: 100%;
}

.fold-four .fold-content .fold-four-rows .ff-column>em {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: #131313;
    margin: 40px auto;
    display: block;
    width: 410px;
    max-width: 100%;
}

.fold-four .fold-content .fold-four-rows.work-rw {
    margin-bottom: 130px;
}

.fold-four .fold-content .fold-four-rows.work-rw.r5 {
    margin-bottom: 0;
}

.fold-four .fold-content .fold-four-rows.work-rw .ff-column {}

.fold-five {
    padding: 115px 0 145px;
    background: url(../images/fold5.jpg);
}

.fold-five .fold-content {}

.fold-five .fold-content header {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 95px;
}

.fold-five .fold-content .fold-ec-column {
    width: 1188px;
    max-width: 100%;
    margin: 0 auto;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fold-five .fold-content .fold-ec-column .ec-col {
    width: 530px;
    max-width: 100%;
    position: relative;
    height: 425px;
    border: 4px solid var(--primary-color);
    background: #000;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.fold-five .fold-content .fold-ec-column .ec-col.ec-1>span {
    background-image: url(../images/ec-1.jpg);
    opacity: 0.3;
}

.fold-five .fold-content .fold-ec-column .ec-col.ec-2>span {
    background-image: url(../images/ec-2.jpg);
    opacity: 0.16;
}

.fold-five .fold-content .fold-ec-column .ec-col>span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s ease;
}

.fold-five .fold-content .fold-ec-column .ec-col>span:hover {
    transform: scale(1.1);
}

.fold-five .fold-content .fold-ec-column .ec-col p {
    width: 280px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
}

.fold-five .fold-content .fold-ec-column .ec-col p strong {
    display: block;
    margin-bottom: 5px;
}

.fold-six {
    padding: 115px 0 125px;
    background: var(--primary-color);
}

.fold-six .fold-content {}

.fold-six .fold-content header {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 0 95px;
}

.fold-six .fold-content .fold-hob-col {
    display: flex;
    flex-wrap: wrap;
    width: 1188px;
    margin: 0 auto;
    max-width: 100%;
}

.fold-six .fold-content .fold-hob-col .hob-col {
    width: calc(100% / 4);
    text-align: center;
    color: #fff;
    position: relative;
}

.fold-six .fold-content .fold-hob-col .hob-col:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    height: calc(100% - 10px);
    width: 1px;
    background: #fff;
}

.fold-six .fold-content .fold-hob-col .hob-col:last-child::after {
    display: none;
}

.fold-six .fold-content .fold-hob-col .hob-col span {
    display: flex;
    height: 112px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.fold-six .fold-content .fold-hob-col .hob-col span img {}

.fold-six .fold-content .fold-hob-col .hob-col strong {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.fold-seven {
    height: 540px;
}

.fold-seven .fold-content {
    width: 1188px;
    max-width: 100%;
    display: flex;
    margin: 0 auto;
}

.fold-seven .fold-content .chain-img {
    position: relative;
}

.fold-seven .fold-content .chain-img span {
    position: absolute;
    top: -58px;
    right: calc(20% - 50px);
}

.fold-seven .fold-content .chain-img span img {}

.fold-seven .fold-content>div {
    width: 50%;
}

.fold-seven .fold-content .chain-content {
    padding: 140px 0 120px;
    width: calc(50% + 80px);
}

.fold-seven .fold-content .chain-content p {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: left;
    margin: 0 0 80px;
}

.fold-seven .fold-content .chain-content p strong {}

.fold-seven .fold-content .chain-content a {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.9px;
    text-align: center;
    color: #ffffff;
    width: 200px;
    display: inline-block;
    background: var(--primary-color);
    padding: 17px 0px;
    text-transform: uppercase;
}

.fold-six .fold-content .fold-hob-col .hob-col p {
    width: 220px;
    margin: 30px auto 0;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    max-width: 100%;
}

.fold-eight {
    padding: 115px 0 75px;
    background: url("../images/fold8.jpg") no-repeat center / cover;
}

.fold-eight .fold-content {
    color: #fff;
    text-align: center;
}

.fold-eight .fold-content header {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 75px;
}

.fold-eight .fold-content .video-group {
    width: 1188px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fold-eight .fold-content .video-group .video-item {
    position: relative;
    width: 360px;
    height: 210px;
    margin-bottom: 50px;
    overflow: hidden;
}

.fold-eight .fold-content .video-group .video-item>img {
    max-width: 100%;
}

.fold-eight .fold-content .video-group .video-item>span.thumb-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/video-default.png) no-repeat center rgba(189, 161, 87, 0.5);
    z-index: 10;
    left: 0;
    top: 0;
    cursor: pointer;
}

.fold-eight .fold-content .video-group .video-item>span.thumb-cover:hover {
    background: url(../images/video-hover.png) no-repeat center rgba(255, 255, 255, 0.5);
}

.fold-eight a[data-trigger] {
    font-family: Montserrat;
    font-size: 21px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    color: var(--primary-color);
    margin: 50px auto 0;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
}

.fold-nine {
    padding-bottom: 90px;
}

.fold-nine .fold-content {
    width: 1188px;
    max-width: 100%;
    margin: 0 auto;
    padding: 115px 0 90px;
}

.fold-nine .fold-content header {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #171717;
    text-transform: uppercase;
    margin-bottom: 80px;
}


/* masonry */

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.grid-container>div {
    width: 325px;
}

.grid-container .grid1 {
    overflow: hidden;
}

.grid-container .grid2 {
    overflow: hidden;
}

å .grid-container .grid3 {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.grid-container .grid1>div {}

.grid-container .grid1>div:nth-child(1) {
    height: 488px;
    margin-bottom: 25px;
    text-align: center;
}

.grid-container .grid1>div:nth-child(1) img {
    height: 100%;
}

.grid-container .grid1>div:nth-child(2) {
    height: 230px;
}

.grid-container .grid1>div:nth-child(2) img {}

.grid-container .grid2>div:nth-child(1) {
    height: 275px;
    margin-bottom: 25px;
    text-align: center;
}

.grid-container .grid2>div:nth-child(1) img {
    height: 100%;
}

.grid-container .grid2>div:nth-child(2) {
    height: 230px;
}

.grid-container .grid2>div:nth-child(2) img {}

.grid-container .grid3 {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-container .grid3>div {}

.grid-container .grid3>div:nth-child(1) {
    margin-bottom: 25px;
}

.grid-container .grid3>div:nth-child(1) img {}

.grid-container .grid3>div:nth-child(2) {}

.grid-container .grid3>div:nth-child(2) img {}

.grid-container .grid3>div:nth-child(3) {
    margin-bottom: 15px;
}

.grid-container .grid3>div:nth-child(3) img {}

.grid-container .grid3>div:nth-child(4) {}

.grid-container .grid3>div:nth-child(4) img {}

.grid-container .grid3>div:nth-child(5) {
    width: 100%;
}

.grid-container .grid3>div:nth-child(5) img {
    width: 100%;
}

.fold-nine a[data-trigger] {
    font-family: Montserrat;
    font-size: 21px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    color: #171717;
    cursor: pointer;
    text-decoration: underline;
    display: block;
}

footer.fold-footer {
    background: #191919;
    color: #fff;
    text-align: center;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer.fold-footer .fold-content {
    width: 1188px;
    max-width: 100%;
    position: relative;
}

footer.fold-footer p {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    padding: 0;
    margin: 0;
    position: relative;
}

footer.fold-footer .navy-top {
    background: url("../images/arrow-top.png") no-repeat center var(--primary-color);
    width: 96px;
    height: 96px;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    right: -120px;
    top: -100px;
}


/* blog */

.fold-blog.jumbotron {
    background: url("../images/blog-bg.jpg") no-repeat center / cover;
    padding: 115px 0 90px;
}

.fold-blog.jumbotron .fold-content {
    width: 1190px;
    max-width: 100%;
    margin: 0 auto;
}

.fold-blog.jumbotron .fold-content>header {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 2.4px;
    text-align: center;
    color: #171717;
    text-transform: uppercase;
}

.fold-blog.jumbotron .bloglist {
    margin: 50px 0 120px;
    display: flex;
    justify-content: start;
}

.fold-blog.jumbotron .blogitem {
    width: 340px;
    background: #171717;
    margin-right: 80px;
    padding: 20px 0;
}

.fold-blog.jumbotron .blogitem span {}

.fold-blog.jumbotron .blogitem span img {}

.fold-blog.jumbotron .blogitem h4 {
    font-family: Raleway;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.36px;
    text-align: left;
    color: #ffffff;
    padding: 40px 30px 0;
}

.fold-blog.jumbotron .blogitem p {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: 1.28px;
    text-align: left;
    color: #ffffff;
    margin: 25px 0;
    padding: 0 30px;
    line-height: normal;
}

.fold-blog.jumbotron .blogitem a {
    background: #848484;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.9px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 30px;
    width: auto;
    display: block;
    padding: 10px 0;
    transition: 0.3s ease;
}

.fold-blog.jumbotron .blogitem a:hover {
    background-color: #bea257;
    text-decoration: none;
}

.fold-blog.jumbotron .bloglink {
    text-align: center;
}

.fold-blog.jumbotron .bloglink a {
    font-family: Montserrat;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 1.26px;
    text-align: center;
    color: #171717;
}


/* /blog */

@media only screen and (max-width: 1440px) {
    .fold-one .fold-content .content-placeholder {
        padding-top: unset;
        padding-right: 0;
    }
    footer.fold-footer .navy-top {
        right: 0;
    }
    .fold-one .fold-content {
        padding: 0 30px;
    }
    .fold-two .fold-content {
        padding-left: 30px;
        padding-right: 30px;
    }
    .fold-five .fold-content .fold-ec-column .ec-col {
        margin: 0 15px;
        width: 50%;
    }
    .fold-three .fold-content,
    .fold-eight .fold-content .video-group {
        padding: 0 30px;
    }
    .fold-five .fold-content .fold-ec-column {
        flex-wrap: nowrap;
        padding: 0 15px;
    }
    .fold-eight .fold-content .video-group .video-item {
        width: auto;
        max-width: 100%;
        height: auto;
    }
    .grid-container {
        padding: 0 30px;
    }
    .grid-container>div {
        width: 25%;
    }
}

@media only screen and (max-width: 1189px) {
    .grid-container>div {
        width: 100%;
        margin: 20px 0;
    }
    .grid-container .grid3 {
        max-width: 100%;
        width: 100%;
    }
    .grid-container .grid3>div {
        width: 100%;
        margin: 20px 0;
    }
    .grid-container .grid3>div:nth-child(5) {
        width: 40%;
        margin: 0 auto;
        max-width: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .fold-one {
        height: auto;
    }
    .fold-one .owen-placeholder {
        right: 0;
        bottom: 0;
        top: unset;
        width: 50%;
    }
    .fold-one .owen-placeholder img {
        width: 100%;
    }
    .fold-one .fold-content img {
        margin-bottom: 0;
    }
    .fold-one .fold-content h1 {
        margin-bottom: 30px;
    }
    .fold-one .fold-content a {
        margin-top: 30px;
    }
    .fold-four .fold-content .fold-four-rows .ff-column {
        padding: 0 15px;
    }
    .fold-four .fold-content .fold-four-rows {
        padding: 0 15px;
        margin-bottom: 30px !important;
    }
    .fold-six .fold-content .fold-hob-col .hob-col {
        width: calc(100% / 2);
        margin-bottom: 60px;
    }
    .fold-six .fold-content .fold-hob-col .hob-col:nth-child(2)::after {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .fold-three .fold-content .skill-placeholder .skill-item {
        width: 200px;
        height: 200px;
        margin: 0 auto 30px;
    }
    .fold-two .fold-content ul.about-icon {
        flex-wrap: wrap;
        justify-content: center;
    }
    .fold-two .fold-content ul.about-icon li {
        width: 50%;
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 768px) {
    .fold-one .fold-content {
        height: auto;
        padding: 60px 30px 280px;
    }
    .fold-one .fold-content .content-placeholder {
        width: 100%;
        text-align: center;
    }
    .fold-one .fold-content .content-placeholder img {
        width: 120px;
        margin: 0 auto 20px;
    }
    .fold-one .fold-content h1 {
        text-align: center;
        font-size: 26px;
    }
    .fold-one .fold-content {
        text-align: center;
    }
    .fold-two .fold-content {
        padding: 30px;
    }
    .fold-two .fold-content header {
        padding-bottom: 60px;
    }
    .fold-two .fold-content ul.about-icon li {
        width: 100%;
    }
    .fold-two .fold-content ul.about-icon li p {
        margin-top: 60px;
    }
    .fold-two .fold-content ul.about-icon li p:before {
        top: -30px;
    }
    .fold-two .fold-content {
        padding: 30px 30px 0;
    }
    .fold-three {
        padding: 60px 0;
    }
    .fold-three .fold-content .skill-placeholder {
        margin-top: 60px;
        flex-wrap: wrap;
    }
    .fold-three .fold-content .skill-placeholder .skill-item span {
        height: auto;
    }
    .fold-three .fold-content .skill-placeholder .skill-item span img {}
    .fold-three .fold-content .skill-placeholder .skill-item p {
        font-size: 12px;
    }
    .fold-four .fold-content .fold-four-rows .ff-column {
        width: 100%;
    }
    .fold-four .fold-content {
        padding: 60px 0;
    }
    .fold-five {
        padding: 60px 0;
    }
    .fold-five .fold-content .fold-ec-column {
        flex-wrap: wrap;
    }
    .fold-five .fold-content .fold-ec-column .ec-col {
        width: 100%;
        margin-bottom: 30px;
    }
    .fold-six {
        padding: 30px 0;
    }
    .fold-six .fold-content header {
        margin-bottom: 50px;
    }
    .fold-six .fold-content .fold-hob-col .hob-col {
        width: 100%;
    }
    .fold-six .fold-content .fold-hob-col .hob-col:after {
        display: none;
    }
    .fold-seven .fold-content .chain-content {
        width: 100%;
        text-align: center;
        padding: 60px 0;
    }
    .fold-seven .fold-content .chain-content p {
        text-align: center;
    }
    .fold-seven .fold-content .chain-img {
        display: none;
    }
    .fold-seven {
        height: auto;
    }
    footer.fold-footer .navy-top {
        background-size: 50%;
        width: 56px;
        height: 56px;
        top: -70px;
        right: 20px;
    }
    .grid-container .grid3>div:nth-child(5) {
        width: 100%;
    }
}
